<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>QJC</title>
  <link rel="stylesheet" href="css/toastr.min.css">
</head>

<body>

  <div id="qjc">
    <h1>Quiz JSON Creator(QJC)</h1>
    <h3>ID</h3>
    <input type="text" v-model="id" id="id">
    <h3>問題文</h3>
    <textarea v-model="problemText"></textarea>
    <div contenteditable="true" width="50px" height="50px" @paste="pasteImage('problem', $event)">
      問題用画像がある場合はここにペースト
    </div>
    <textarea v-model="problemImage" disabled></textarea>
    <h3>正解の選択肢（1個以上）</h3>
    <input type="text" v-model="correct1">
    <input type="text" v-model="correct2">
    <input type="text" v-model="correct3">
    <input type="text" v-model="correct4">
    <input type="text" v-model="correct5">
    <h3>不正解の選択肢（1個以上）</h3>
    <input type="text" v-model="incorrect1">
    <input type="text" v-model="incorrect2">
    <input type="text" v-model="incorrect3">
    <input type="text" v-model="incorrect4">
    <input type="text" v-model="incorrect5">
    <h3>解説文</h3>
    <textarea v-model="answerText"></textarea>
    <div contenteditable="true" width="50px" height="50px" @paste="pasteImage('answer', $event)">
      解説用画像がある場合はここにペースト
    </div>
    <textarea v-model="answerImage" disabled></textarea>
    <div>
      <button @click="addQuiz">追加</button>
      <button @click="resetInput">リセット</button>
    </div>
    <hr>
    <div>
      <h3>JSON</h3>
      <textarea v-model="output"></textarea>
    </div>
  </div>
  <hr>
  <div>
    <a href="index.html">クイズに戻る！(JSONは保存されません。）</a>
    <script src="lib/vue.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/toastr.min.js"></script>
    <script src="scripts/qjc.js"></script>
</body>

</html>