<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>QJC</title>
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/toastr.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="qjc">

    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title">Quiz JSON Creator(QJC)</h1>
              <h2 class="subtitle">クイズ用JSONファイルを作成します</h2>
            </div>
            <div class="column has-text-right">
              <a href="" class="button">Download as JSON</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h3>ID</h3>
        <input class="input" type="text" v-model="id" id="id">
        <h3>問題文(markdown対応)</h3>
        <textarea class="textarea" v-model="problemText" class="mdtext"></textarea>
        <div contenteditable="true" width="50px" height="50px" @paste="pasteImage('problem', $event)">
          問題用画像がある場合はこのテキスト欄にペースト（下のテキストエリアではない）
        </div>
        <textarea v-model="problemImage" disabled></textarea>
        <h3>出典</h3>
        <input class="input" type="text" v-model="reference">
        <h3>正解の選択肢（1個以上）</h3>
        <input class="input" type="text" v-model="correct1" placeholder="1">
        <input class="input" type="text" v-model="correct2" placeholder="2">
        <input class="input" type="text" v-model="correct3" placeholder="3">
        <input class="input" type="text" v-model="correct4" placeholder="4">
        <input class="input" type="text" v-model="correct5" placeholder="5">
        <h3>不正解の選択肢（1個以上）</h3>
        <input class="input" type="text" v-model="incorrect1" placeholder="1">
        <input class="input" type="text" v-model="incorrect2" placeholder="2">
        <input class="input" type="text" v-model="incorrect3" placeholder="3">
        <input class="input" type="text" v-model="incorrect4" placeholder="4">
        <input class="input" type="text" v-model="incorrect5" placeholder="5">
        <h3>解説文(markdown対応)</h3>
        <textarea class="textarea" v-model="answerText" class="mdtext"></textarea>
        <div contenteditable="true" width="50px" height="50px" @paste="pasteImage('answer', $event)">
          解説用画像がある場合はこのテキスト欄にペースト（下のテキストエリアではない）
        </div>
        <textarea v-model="answerImage" disabled></textarea>
        <div>
          <a class="button is-primary" @click="addQuiz">追加</a>
          <a class="button" @click="resetInput">リセット</a>
        </div>
        <hr>
        <div>
          <h3>JSON</h3>
          <textarea class="textarea" v-model="output"></textarea>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <a class="button" href="index.html">クイズに戻る！</a> <br>(JSONは保存されません。別途jsonファイルに保存してください。）
        </div>
      </div>
    </footer>

  </div>
  <script src="lib/vue.min.js"></script>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="scripts/qjc.js"></script>
</body>

</html>