<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>QJM</title>
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/toastr.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="qjm">

    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title">Quiz JSON Manager (QJM)</h1>
              <h2 class="subtitle">JSONファイルの一覧です（管理機能追加予定）</h2>
            </div>
            <div class="column has-text-right">
              <a href="" class="button">Reload JSON</a>
              <a href="" class="button is-disabled">Download as JSON</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th><abbr title="問題文">QTXT</abbr></th>
              <th><abbr title="問題用画像">QIMG</abbr></th>
              <th><abbr title="出典">REF</abbr></th>
              <th><abbr title="正解選択肢">CORRECTS</abbr></th>
              <th><abbr title="不正解選択肢">INCORRECTS</abbr></th>
              <th><abbr title="解説文">ATXT</abbr></th>
              <th><abbr title="解説用画像">AIMG</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th><abbr title="問題文">QTXT</abbr></th>
              <th><abbr title="問題用画像">QIMG</abbr></th>
              <th><abbr title="出典">REF</abbr></th>
              <th><abbr title="正解選択肢">CORRECTS</abbr></th>
              <th><abbr title="不正解選択肢">INCORRECTS</abbr></th>
              <th><abbr title="解説文">ATXT</abbr></th>
              <th><abbr title="解説用画像">AIMG</abbr></th>
            </tr>
          </tfoot>
          <tbody v-for="q in questions">
            <tr>
              <th>{{q.id}}</th>
              <td>{{q.problem}}</td>
              <td><span v-if="q.problemImage"><a @click="showImageModal(q.problemImage)">確認</a></span><span v-else>-</span></td>
              <td>{{q.reference}}</td>
              <td>
                <ul class="dot-list" v-for="correct in q.corrects">
                  <li>{{correct}}</li>
                </ul>
              </td>
              <td>
                <ul class="dot-list" v-for="incorrect in q.incorrects">
                  <li>{{incorrect}}</li>
                </ul>
              </td>
              <td>{{q.answer}}</td>
              <td><span v-if="q.answerImage"><a @click="showImageModal(q.answerImage)">確認</a></span><span v-else>-</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <a class="button" href="index.html">クイズに戻る！</a> <br>(JSONは保存されません。別途jsonファイルに保存してください。）
        </div>
      </div>
    </footer>

    <div class="modal" :class="{'is-active': isModalActive}">
      <div class="modal-background" @click="closeImageModal"></div>
      <div class="modal-content">
        <p class="image">
          <img :src="modalImage">
        </p>
      </div>
      <button class="modal-close" @keyup.esc="closeImageModal" @click="closeImageModal"></button>
    </div>

  </div>
  <script src="lib/vue.min.js"></script>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="scripts/qjm.js"></script>

</body>

</html>